* {
  box-sizing: border-box;
  margin: 0;
}
.calculator {
  background-color: #ddd;
  padding: 1.2rem;
  max-width: 25rem;
  border: solid 1px #ccc;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 4rem auto;
}
#result {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5) inset;
  border-radius: 5px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 1.2rem 0;
}
button {
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
button:hover {
  background-color: #bbb;
  color: #000;
}
.clear {
  background-color: red;
  color: #fff;
}
.clear:hover {
  background-color: #01ff50;
}
.number,
.decimal {
  color: #333;
}
.operator {
  background-color: blue;
  color: #fff;
}
.operator:hover {
  background-color: #fff;
}
.equal {
  background-color: #01ff50;
  grid-row: span 3;
  color: #fff;
}
.equal:hover {
  background-color: #fff;
}
